{% extends 'base.html.twig' %}

{% block title %}New Ile{% endblock %}

{% block body %}
    <div class=" flex  flex justify-center px-6 py-12 lg:px-8 bg-white min-h-screen m-20">
<div  class="w-full flex-col justify-center bg-white rounded-lg shadow-lg p-4  mb-6">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
   
    <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Créer une ile</h2>
  </div>

    {{ include('ile/_form.html.twig') }}

    
{% endblock %}
